@import url('https://fonts.googleapis.com/css?family=Lato:300|Lobster|Playfair+Display:900');

/* Header Styles */

.navbar-inverse {
  background-color: transparent;
  border: none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: rgba(51, 51, 51, 0.5);
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  text-shadow: 1px 1px 2px #333;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  background-color: rgba(51,51,51,0.25);
  color: #f8512f; /*Orangey color */
}

/* Carousel Start */

.item {
  height: 425px;
  background-size: cover;
  background-position: center;
}

.carousel-flex {
  height: 425px;
  display: flex;
  align-items: center;
}

#carousel-logo {
  height: 250px;
}

#wood-background {
  background-image: url(../img/wood-2.jpg);
}

#seating-background {
  background-image: url(../img/restaurant-2.jpg);
}

#farm-background {
  background-image: url(../img/farm-2.jpg);
}

.carousel-caption {
    text-shadow: 1px 1px 2px #333;
    margin-bottom: 45px;
}

.carousel-caption .btn-warning {
  background-color: #f8512f;
  border-color: #f8512f;
}

.carousel-caption .btn-warning:hover {
  background-color: #d34326;
  border-color: #d34326;
}

/* Our Story Style */

.story-col {
margin-top: 70px;

}

.story-col>h1 {
  color: #f8512f;
  font-family: "Lobster", cursive;
  text-shadow: 1px 1px 2px #313;
  font-size: 5em;
  margin-bottom: 0px;
}

.story-col>h3 {
  font-family: "Lato", sans-serif;
  margin-top: 0px;
}

.year>h1 {
  font-size: 172px;
  font-family: "Playfair Display", serif;
  color: rgba(51,51,51,0.15);
  z-index: -1;
  position: absolute;
  top: 58px;
  left: 0px;
  font-weight: 900;
}

.year>p {
  font-family: "Lato", sans-serif;

}

#our-story {
  margin: 10% auto;
}


/** Begin Review Styles */

#veggie-background {
  background-image: url(../img/food_review.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

#veggie-background h1 {
  font-family: "Lobster", cursive;
  color: #f8512f;
  text-shadow: 1px 1px 2px #313;
  font-size: 63px;
}

#veggie-background p {
  font-family: "Lato", sans-serif;
  color: #fff;
  text-shadow: 1px 1px 2px #313;
  font-size: 26px;
  line-height: 36px;
  font-weight: 300px;
}

.fresno-bee {
  background-color: rgba(25, 25, 25, 0.5);
  border-radius: 5px;
}

/* End Review Styles */

/*Begin Menu Styles */

#menu {
  background-image: url(../img/black_linen.png);
  height: 600px;
}

#menu h1 {
  font-family: "Lobster", cursive;
  color: #fff;
  font-size: 5em;
}

.food {
  background-color: #fff;
  height: 465px;
  overflow: auto;
  padding: 8px 12px;
}


#menu a, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #f8512f;
  font-weight: 600;
}


/*.nav-tabs.nav-justified>li>a {
  border: none;
}*/

.nav-tabs.nav-justified>.active>a:hover, .nav>li>a:focus, .nav>li>a:hover {
  background-color: rgba(255,255,255,0.2);
  border-color: rgba(255,255,255,0.2);


}


/* Begin contact styles */

.contact-padding > div:first-child {
  padding-right: 50px;
}

.contact-padding > div:last-child {
  padding-left: 50px;
}

form {
  border: 1px solid #fff;
  color: #fff;
  padding: 10px;
  background-color: #ff6633;
}

#contact {
  background-color: #f8512f;
  height: 700px;
  color: #fff;
}

.required label:after {
  content: " *";
  color: #ff0000;
}

.contact-caption {
  color: #fff;
  margin-top: 40px;
  margin-bottom: 40px;
}

.contact-caption h1 {
  font-weight: 600;
  font-size: 50px;
}

.contact-caption p {
  font-family: "Lato", sans-serif;
}

.contact-flex {
  display: flex;
  justify-content: center;
}

.contact-flex button {
  color: #000;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.contact-red-star {
  color: #ff0000;
  font-family: "Lato", sans-serif;
}

.contact-red-star:before {
  content: "All fields marked ";
  color: #fff;
}

.contact-red-star:after {
  content: " are mandatory";
  color: #fff;
}

.contact-map p {
  font-family: "Lato", sans-serif;
  margin: 0px;
}

.contact-map h3 {
  margin: 0px;
  font-size: 1em;
  font-weight: 600;
}

.contact-map iframe {
  border: none;
  height: 200px;
  width: 100%;
  margin-top: 30px;

