/* Header Styles */

.navbar-inverse {
  background-color: transparent;
  border: none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: rgba(51, 51, 51, 0.5);
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  text-shadow: 1px 1px 2px #333;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  background-color: rgba(51,51,51,0.25);
  color: #f8512f; /*Orangey color */
}

/* Carousel Start */

.item {
  height: 425px;
  background-size: cover;
  background-position: center;
}

.carousel-flex {
  height: 425px;
  display: flex;
  align-items: center;
}

#carousel-logo {
  height: 250px;
}

#wood-background {
  background-image: url(../img/wood-2.jpg);
}

#seating-background {
  background-image: url(../img/restaurant-2.jpg);
}

#farm-background {
  background-image: url(../img/farm-2.jpg);
}

.carousel-caption {
    text-shadow: 1px 1px 2px #333;
    margin-bottom: 45px;
}

.carousel-caption .btn-warning {
  background-color: #f8512f;
  border-color: #f8512f;
}

.carousel-caption .btn-warning:hover {
  background-color: #d34326;
  border-color: #d34326;
}

/* Our Story Style */

.story-col {
margin-top: 70px;

}

.story-col>h1 {
  color: #f8512f;
  font-family: "Lobster", cursive;
  text-shadow: 1px 1px 2px #313;
  font-size: 5em;
  margin-bottom: 0px;
}

.story-col>h3 {
  font-family: "Lato", sans-serif;
  margin-top: 0px;
}

.year>h1 {
  font-size: 172px;
  font-family: "Playfair Display", serif;
  color: rgba(51,51,51,0.15);
  z-index: -1;
  position: absolute;
  top: 58px;
  left: 0px;
  font-weight: 900;
}

.year>p {
  font-family: "Lato", sans-serif;

}

#our-story {
  margin: 10% auto;
}
